[submodule "repos/eduid-am"]
	path = build/repos/eduid-am
	url = https://github.com/SUNET/eduid-am.git
[submodule "repos/eduid-common"]
	path = build/repos/eduid-common
	url = https://github.com/SUNET/eduid-common.git
[submodule "repos/eduid-lookup-mobile"]
	path = build/repos/eduid-lookup-mobile
	url = https://github.com/SUNET/eduid-lookup-mobile.git
[submodule "repos/eduid_msg"]
	path = build/repos/eduid_msg
	url = https://github.com/SUNET/eduid_msg.git
[submodule "repos/eduid-userdb"]
	path = build/repos/eduid-userdb
	url = https://github.com/SUNET/eduid-userdb.git
[submodule "repos/eduid-webapp"]
	path = build/repos/eduid-webapp
	url = https://github.com/SUNET/eduid-webapp.git
[submodule "repos/eduid-graphdb"]
	path = build/repos/eduid-graphdb
	url = https://github.com/SUNET/eduid-graphdb.git
[submodule "repos/eduid-queue"]
	path = build/repos/eduid-queue
	url = https://github.com/SUNET/eduid-queue.git
[submodule "repos/eduid-scimapi"]
	path = build/repos/eduid-scimapi
	url = https://github.com/SUNET/eduid-scimapi.git
